<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>

  <body>
    <div class="wrapper">
      <header>
        {% if site.logo %}
          <img src="{{site.logo}}" alt="Logo" />
        {% endif %}

        <h1>{{ site.title}}</h1>
        <p>
          {{ site.description}}
          <br>
          <a href="mailto: peterwang724@gmail.com" target="_top">Gmail</a>
          <br>
          {% if site.github.is_user_page %}
            <a href="{{ site.github.owner_url }}">GitHub</a>
          {% endif %}

          <br>
          <br>
          <br>
          <br>

          <p>
            <h4>Posts</h4>
            {% for post in site.posts %}
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.date, post.title }}</a>
                <br>
            {% endfor %}
          </p>
        </p>
      </header>

      <section>
      {{ content }}
      </section>

      <footer>
        <p><small>Minimal Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>

    </div>
  </body>
</html>
